:root {
  --primary-font: "Consolas", monospace;
  --primary-background: #033f5c;
  --primary-accent: #ffb703;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}
.green{
  color: forestgreen;
  font-weight: bold;
  font-size: 1.25rem;
}
.result-box{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  padding: 3rem 5rem;
  background-color: white;

  text-align: center;
  &>*{
    margin: 15px 0px;
  }
  .replay-box{
    text-align: center;
    margin-top:30px;
    a{
      text-decoration: none;
      color: var(--primary-background);
      h3{
        border-radius: 20px;
        padding: 10px 15px;
      background-color: var(--primary-accent);
      display: inline;
      }
    }
  }
}

header {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .title-box {
    background-color: var(--primary-accent);
    color: var(--primary-background);
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 0px 100px 100px 0px;
    text-align: left;
    width: 45%;
  }
  .design-line {
    height: 5px;
    width: 35%;
    background-color: var(--primary-accent);
  }
  .replay-box {
    width: 20%;
    background-color: var(--primary-accent);
    padding: 25px;
    font-size: 1.2rem;
    border-radius: 100px 0px 0px 100px;
    text-align: left;
    a {
      text-decoration: none;
      color: var(--primary-accent);
    }
    h3 {
      display: inline;
      background-color: var(--primary-background);
      padding: 10px 15px;
      border-radius: 50px;
    }
  }
}
section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin-top: 5vh;
    margin-left: 3vw;
    height: 68vh;
    width: 65vw;
    background: var(--primary-accent);
    border-radius: 20px;
    .display-box {
      height: 40%;
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.35);
      margin-left: 12px;
      line-height: 1.6;
      user-select: none;
      .success{
        color: black;
      }
      .failure{
        color: rgb(216, 2, 2);
        text-decoration: underline;
      }
    }
    .input-box {
      height: 60%;
      background: transparent;
      outline: none;
      border-radius: 15px;
      padding: 10px;
      font-size: 1.5rem;
      border: 1px solid rgb(145, 145, 145);
      resize: none;
      line-height: 1.6;
    }
    .input-box:focus {
      border: 3px solid var(--primary-background);
    }
  }
  aside {
    margin-top: 3vh;
    margin-left: 3vw;
    width: 25vw;
    height: 55vh;
    & > * {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 50%;
      color: var(--primary-background);
      padding: 10px;
      border-radius: 15px;
      background: var(--primary-accent);
      margin: 15px 0px;
    }
    .timer-box {
      h3 {
        font-size: 2.5rem;
        span {
          position: absolute;
          font-size: 1.1rem;
        }
      }
      .timer {
        font-size: 3.5rem;
        border: 3px solid var(--primary-background);
        color: var(--primary-background);
        padding: 1rem;
        border-radius: 10px;
      }
    }
    .highscore-box {
      h3 {
        font-size: 2.5rem;
      }
      .highscore {
        border: 3px solid var(--primary-background);
        color: var(--primary-background);
        padding: 1rem;
        border-radius: 10px;
        span {
          font-size: 3.5rem;
        }
      }
    }
  }
}
footer {
    display: flex;
    margin-top: 3vh;
    position: relative;
    width: 100%;
  .design-line {
    height: 5px;
    width: 100%;
    background-color: var(--primary-accent);
  }
  .footer-box{
      position: absolute;
      right: 0vw;
      padding: 10px 25px;
      top: -40px;
      border-radius: 50px;
      margin-right: 2vw;
      width: 25%;
      background: var(--primary-accent);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
          height: 50px;
      }
  }
}
